<nav class="navbar">
    <div class="logo">
        <a href="/">Chat</a>
    </div>
    <div class="menu">
        <ul>
            {% if request.user.is_authenticated %}
                <li class="item">
                    <a href="/rooms/">Rooms</a>
                </li>
                <li class="item">
                    <a href="/logout/">Log out</a>
                </li>
            {% else %}
                <li class="item">
                    <a href="/login/">Login In</a>
                </li>
                <li class="item">
                    <a href="/signup/">Sign Up</a>
                </li>
            {% endif %}
            
        </ul>
    </div>
</nav>