{% extends "main.html" %}

{% block title %} {{room.name}} {% endblock %}

{% block content %}
<div class="rooms">
    <h1>{{room.name}}</h1>
</div>

<div class="background-chat">
    <div class="space">
        <div class="card-message">
            <h3 class="username">Guy</h3>
            <p class="desc">lorem ipsum dolor sit amet, consectetur adip</p>
        </div>

        <div class="card-message">
            <h3 class="username">Guy</h3>
            <p class="desc">lorem ipsum dolor sit amet, consectetur adip</p>
        </div>
        <div class="card-message">
            <h3 class="username">Guy</h3>
            <p class="desc">lorem ipsum dolor sit amet, consectetur adip</p>
        </div>
    </div>
</div>


<div class="form-room">
    <form action="." method="post">
        <input type="text" name="content" placeholder="Your message">
    </form>

    <button id="chat-message-submit" class="">Submit</button>
</div>
{% endblock content %}

