{% extends "main.html" %}

{% block title %}Log in{% endblock %}

{% block content %}
<div class="signUp">
    <h1>Log In</h1>
</div>

<div class="form">
    <form action="."  method="post">
        {% csrf_token %}

        <div class="form-item">
            <input type="text" name="username" placeholder="Username">
        </div>

        <div class="form-item">
            <input type="password" name="password" placeholder="Password">
        </div>

        {% if form.errors %}
            {% for field in form %}
                {% for error in errors %}
                    <div class="error">
                        <p>{{ error | escape }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="btn-submit">
            <button>Log in</button>
        </div>
    </form>
</div>
{% endblock content %}

