*, ::before, ::after{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(103, 98, 184);
}

//----------------------------------------------------------------- MENU DE NAVIGATION
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(14, 8, 96);
    height: 80px;
    width: 100%;

    .logo{
        margin-left: 30px;
        a{
            text-decoration: none;
            color: white;
            cursor: pointer;
            padding: 30px 30px;
            font-weight: bold;
            // background-color: red;
        }
    }

    // Login in et Sign in
    .menu{
        
        ul{
            display: flex;
            align-items: center;
            margin-right: 30px;
            .item{
                color: white;
                list-style-type: none;
                
                a{
                    text-decoration: none;
                    color: white;
                    transition: color 0.5s ease-in-out;
                    transition: background-color .5s ease-in-out;
                }
            }

            .item:first-child{
                margin-right: 30px;
            }

            .item:first-child a:hover{
                color: rgb(0, 225, 255);
            }

            .item:last-child a{
                padding: 10px 25px;
                background-color: rgb(38, 28, 182);
                border-radius: 15px;
                border: 1px solid rgb(38, 28, 182);
            }

            
            .item:last-child a:hover{
                border: 1px solid rgb(0, 225, 255);
                background-color: rgb(14, 8, 96);
                color: rgb(0, 225, 255);
                cursor: pointer;
                
            }
        }
        
    }
}


// ----------------------------------------------------------------FRONTAL PAGE, SIGN UP, ROOMS
.frontalPage, .signUp, .rooms{
    h1{
        text-align: center;
        margin-top: 50px;
        color: white;
    }
}

// ----------------------------------------------------------------SIGN UP FORMULAIRE
.form{
    form{
        width: 320px;
        margin: 0 auto;
        .form-item{
            input[type="text"], input[type="password"]{
                background-color: rgb(255, 255, 255);
               
                padding: 8px 15px;
            }

            input[type="text"]{
                margin-top: 25px;
                margin-bottom: 10px;
            }

            input[type="password"]{
                margin-bottom: 10px;
            }

            input::placeholder{
                color: rgba(14, 8, 96, 0.39);
            }

            input{
                border: none;
                
                width: 100%;
                border-radius: 5px;
                margin: 0px auto;
                
            }

            input:focus{
                outline: 2px outset rgb(14, 8, 96);
            }

            input:hover{
                box-shadow: 0px 1px 4px;
            }

        }
        .form-item:last-child input[type="password"]{
            margin-bottom: 0px;
        }

     
            button{
                border-radius: 5px;
                padding: 10px 20px;
                background-color: rgb(38, 28, 182);
                border: 1px solid rgb(38, 28, 182);
                color: #fff;
                box-shadow: 0 1px 6px  rgba(0, 0, 0, 0.343);;
            }
        

        button:hover{
            background-color: rgb(103, 98, 184);
            border: 1px solid rgb(14, 8, 96);
        }

    }
}

// ------------------------------------------------------LE CORPS DU SALOM LISTE DES SALON CREER
.rooms-main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: space-around;
    text-align: center;

    .item-background{
        margin-top: 50px;
        padding: 20px;
        background-color: #fff;
        margin-right: 25px;
        border-radius: 10px;
        .item{
            width: 150px;
            border-radius: 10px;
            color: #123;
            .title{
                font-size: 30px;
                padding-top: 0px;
                margin-bottom: 30px;
            }

            .btn-joint{
                text-decoration: none;
                color: #fff;
                display: flex;
                height: 30px;
                align-items: center;
                justify-content: center;
                background-color: rgb(103, 98, 184);
                border-radius: 10px;
                transition: background-color .5s ease-in-out; 
            }

            .btn-joint:hover{
                background-color: rgb(14, 8, 96);
            }
        }

    }

    .item-background:last-child{
        margin-right: 0px;
    }

    .item-background:first-child{
        margin-left: 25px;
    }
    
}

// -------------------------------------------------------BACKGROUND CHAT SALON
.background-chat{
    width: 520px;
    margin: 0 auto;
    background-color: #fff;
    border-radius:10px;
    padding: 15px;
    margin-top: 30px;
    .space{
        .card-message{
            margin-bottom: 15px;
            border-radius:10px;
            background-color: rgb(114, 165, 20);
            padding: 10px 15px;
            .username{
                font-weight: bold;
                margin-bottom: 5px;
            }
        }

        .card-message:last-child{
            margin-bottom: 0px;
        }
    }
}

.form-room{
    width: 520px;
    margin: 0 auto;
    background-color: #fff;
    border-radius:10px;
    padding: 15px;
    margin-top: 30px;
    display: flex;

    form{
        display: flex;
        margin-right: 20px;
        input[type="text"]{
            background-color: rgb(185, 170, 170);
            padding: 10px 10px;
            width: 370px;
            border: none;
            border-radius: 5px;
            margin-right: 20px;
        }

        input[type="text"]:focus{
            outline: 1px outset rgba(196, 193, 234, 0.578);
        }

        input::placeholder{
            color: rgb(48, 36, 36);
        }

         button{
            width: 100px;
            background-color: rgb(103, 98, 184);
            border-radius: 5px;
            color: #fff;
            border: 1px solid rgb(103, 98, 184);
            transition: all 0.5s ease-in-out;
        }

        button:hover{
            border: 1px solid rgb(103, 98, 184);
            background-color: rgb(255, 255, 255);
            color: rgb(103, 98, 184);
        }
    }

   
}