*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #6762b8;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0e0860;
  height: 80px;
  width: 100%;
}

.navbar .logo {
  margin-left: 30px;
}

.navbar .logo a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 30px 30px;
  font-weight: bold;
}

.navbar .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.navbar .menu ul .item {
  color: white;
  list-style-type: none;
}

.navbar .menu ul .item a {
  text-decoration: none;
  color: white;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  -webkit-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
}

.navbar .menu ul .item:first-child {
  margin-right: 30px;
}

.navbar .menu ul .item:first-child a:hover {
  color: #00e1ff;
}

.navbar .menu ul .item:last-child a {
  padding: 10px 25px;
  background-color: #261cb6;
  border-radius: 15px;
  border: 1px solid #261cb6;
}

.navbar .menu ul .item:last-child a:hover {
  border: 1px solid #00e1ff;
  background-color: #0e0860;
  color: #00e1ff;
  cursor: pointer;
}

.frontalPage h1, .signUp h1, .rooms h1 {
  text-align: center;
  margin-top: 50px;
  color: white;
}

.form form {
  width: 320px;
  margin: 0 auto;
}

.form form .form-item input[type="text"], .form form .form-item input[type="password"] {
  background-color: white;
  padding: 8px 15px;
}

.form form .form-item input[type="text"] {
  margin-top: 25px;
  margin-bottom: 10px;
}

.form form .form-item input[type="password"] {
  margin-bottom: 10px;
}

.form form .form-item input::-webkit-input-placeholder {
  color: rgba(14, 8, 96, 0.39);
}

.form form .form-item input:-ms-input-placeholder {
  color: rgba(14, 8, 96, 0.39);
}

.form form .form-item input::-ms-input-placeholder {
  color: rgba(14, 8, 96, 0.39);
}

.form form .form-item input::placeholder {
  color: rgba(14, 8, 96, 0.39);
}

.form form .form-item input {
  border: none;
  width: 100%;
  border-radius: 5px;
  margin: 0px auto;
}

.form form .form-item input:focus {
  outline: 2px outset #0e0860;
}

.form form .form-item input:hover {
  -webkit-box-shadow: 0px 1px 4px;
          box-shadow: 0px 1px 4px;
}

.form form .form-item:last-child input[type="password"] {
  margin-bottom: 0px;
}

.form form button {
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #261cb6;
  border: 1px solid #261cb6;
  color: #fff;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.343);
          box-shadow: 0 1px 6px rgba(0, 0, 0, 0.343);
}

.form form button:hover {
  background-color: #6762b8;
  border: 1px solid #0e0860;
}

.rooms-main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.rooms-main .item-background {
  margin-top: 50px;
  padding: 20px;
  background-color: #fff;
  margin-right: 25px;
  border-radius: 10px;
}

.rooms-main .item-background .item {
  width: 150px;
  border-radius: 10px;
  color: #123;
}

.rooms-main .item-background .item .title {
  font-size: 30px;
  padding-top: 0px;
  margin-bottom: 30px;
}

.rooms-main .item-background .item .btn-joint {
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #6762b8;
  border-radius: 10px;
  -webkit-transition: background-color .5s ease-in-out;
  transition: background-color .5s ease-in-out;
}

.rooms-main .item-background .item .btn-joint:hover {
  background-color: #0e0860;
}

.rooms-main .item-background:last-child {
  margin-right: 0px;
}

.rooms-main .item-background:first-child {
  margin-left: 25px;
}

.background-chat {
  width: 520px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin-top: 30px;
}

.background-chat .space .card-message {
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #72a514;
  padding: 10px 15px;
}

.background-chat .space .card-message .username {
  font-weight: bold;
  margin-bottom: 5px;
}

.background-chat .space .card-message:last-child {
  margin-bottom: 0px;
}

.form-room {
  width: 520px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-room form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.form-room form input[type="text"] {
  background-color: #b9aaaa;
  padding: 10px 10px;
  width: 370px;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
}

.form-room form input[type="text"]:focus {
  outline: 1px outset rgba(196, 193, 234, 0.578);
}

.form-room form input::-webkit-input-placeholder {
  color: #302424;
}

.form-room form input:-ms-input-placeholder {
  color: #302424;
}

.form-room form input::-ms-input-placeholder {
  color: #302424;
}

.form-room form input::placeholder {
  color: #302424;
}

.form-room form button {
  width: 100px;
  background-color: #6762b8;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #6762b8;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.form-room form button:hover {
  border: 1px solid #6762b8;
  background-color: white;
  color: #6762b8;
}
/*# sourceMappingURL=style.css.map */